/* Cities */
.b-cities
  padding 20px
  min-height: 220px
  background #272822

  &__title
    margin 0 0 20px
    color #fff
    font-weight bold
    font-size 20px

  &__list
    display inline-block
    margin 0 50px 0 0
    padding 0
    width 150px
    list-style none
    *display inline
    *zoom 1
    vertical-align top

    &_alone
      display block
      width 750px
      font-size 0

    .b-cities__item
      display inline-block
      margin-right 50px
      width 200px
      vertical-align top
      font-size 16px
      *display inline
      *zoom 1

  &__item
    display block
    margin 0 0 20px 0

  &__name
    color: #5ad8ee
    text-decoration underline
    cursor pointer
    font-weight bold

    &:hover
      color #a6e22e

    &_state_active
      color #68e868
